
.view.file button {
    /*
    background: 0 !important;
    border: 0;
    */
}

/*
button.annotator-edit,
button.annotator-delete {
    background-color:   rgba(251,251,251,0.98) !important;
    border:             1px solid rgba(122,122,122,0.6) !important;
}
*/


.view.file .annotator-hl {
    background-color:   inherit;
}

.view.file .annotator-hl-temporary {
    background-color:   inherit;
}

.enable-decorations .view.file .annotator-hl {
    background-color: rgba(255, 255, 10, 0.3);
}

.enable-decorations .view.file .annotator-hl-temporary {
    background-color: rgba(0, 124, 255, 0.3);
}

.enable-decorations .view.file .annotator-hl.draft {
    background-color: rgba(255, 100, 10, 0.3);
}

.annotator-notice.annotator-notice-show a {
    color:  #f90;
}
