
.view-online-list {
    padding-left:   1rem;
    padding-right:  1rem;

}

.view-online-list {

    border-radius:          0.2em;
 
    padding:                1rem;
    background-color:       #f9f9f9;

    /* width:                  auto; */

    /* overflow-x:             auto; */
    border:                 1px solid #999;
}


